<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107010375137-vcq89se7b1873sp89v1s0uls140ka30t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107010375137-vcq89se7b1873sp89v1s0uls140ka30t</string>
	<key>API_KEY</key>
	<string>AIzaSyDiW7ps_YedZCno1pRj-nZdp6_hfKmfoVs</string>
	<key>GCM_SENDER_ID</key>
	<string>107010375137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>internshipecommerce-73944</string>
	<key>STORAGE_BUCKET</key>
	<string>internshipecommerce-73944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107010375137:ios:d4d3dcd0e69bd74de126a0</string>
</dict>
</plist>